<!-- ========= HOME ============ -->
<div id="index" class="page">

</div>




<!-- ========= ABOUT ============ -->
<div id="about" class="page">
    <h2>About</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="well col-md-8 col-lg-8">
                <p>PTP (Practical Training Programme) is the brainchild of Sharon Murphy, 
                and her sole motivation is to work with the youth of the Castlebridge area in order to develop their talents.
                </p>

                <p>She is heading a group of volunteers who want to assist those in the 13 to 20-year-old category,
                    giving them the support they need in setting themselves up for part-time work,
                    or simply to learn some new skills that may prove useful in their everyday lives.
                </p>

                <p>A number of local businesses have already expressed a willingness to volunteer their time and expertise,
                    and the aim is to formulate a four-week training plan in a particular trade or skill.
                </p>

                <p>It is envisaged that the participants will be assisted for one evening a week in that time frame,
                    for two to three hours, in a range of areas.
                </p>

                <p>Sharon is on the look-out for more volunteers to offer their services
                    in their field of expertise, and she will be holding an information
                    evening on the overall PTP concept in Castlebridge Community Centre at a later date.
                </p>

                <p>Teenagers interested in the course are encouraged to attend,
                    while parents or anyone willing to make themselves available to help
                    with the training will also be more than welcome.
                </p>

                <p>The teenagers taking part will be charged a small fee,
                    but all of the money will be put straight back into the programme
                    to help with products, tools and ingredients.
                </p>

                <p>Sharon is keen to expand the idea to offer as broad a range of trades as
                    possible, and she stresses that any practical ideas to broaden its scope
                    will be taken on board.
                </p>

                <br><br>
                <p><strong>PTP is a not-for-profit programme, designed with the sole aim of helping
                    teenagers to improve their skill sets through the medium of volunteering.</strong>
                </p>
    
            </div>
            <div id="about-img" class="col-md-4 col-lg-4">
                <img src="images/sharon-profile.jpeg"/>
            </div>
        </div>
    </div>

    <a href="#top"><button type="button" class="btn btn-primary btn-lg anchor">Back to Top</button></a>
</div>






<!-- ========= COURSES ============ -->
<div id="courses" class="page">
    <h2>Courses</h2>
    <div class="container-fluid">
        <div class="row">
            {{> courses}}
        </div>
    </div>

    <a href="#top"><button type="button" class="btn btn-primary btn-lg anchor">Back to Top</button></a>
</div>





<!-- ========= CONTACT ============ -->
<div id="contact" class="page">
    <h2>Contact</h2>
    
    <p>If you would like to get in contact about anything related to PTP please
        fill out the form below.
    </p>

    <form>

    </form>
    
    <a href="#top"><button type="button" class="btn btn-primary btn-lg anchor">Back to Top</button></a>
</div>
